__pycache__/**
__pycache__
__pycache__/*
**/__pycache__

*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.pkl
*.pklz
*.egg
*.egg-info
*.whl
*.dist-info
*.db
*.sqlite3
*.log
*.coverage
*.cover
*.hypothesis
*.tox
*.nox
*.mypy_cache
*.pytest_cache
*.ipynb_checkpoints
*.DS_Store
*.idea

ambiente-aulas/
ambiente-aulas/*
ambiente-aulas
ambiente-aulas/**