<!DOCTYPE html>
<html lang="pt">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Site da Orquestra{% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <header class="header">
        <img src="{% static 'img/logo.png' %}" alt="Orquestra Logo" class="logo">
        {% if user.is_authenticated %}
            <p>Olá, {{ user.username }}!</p>
            <div class="dropdown">
                <button><a href="{% url 'home' %}">Home</a></button>
            </div>
            <div class="dropdown">
                <button><a href="{% url 'listar_musicos' %}">Músicos</a></button>
            </div>
            <div class="dropdown">
                <button><a href="{% url 'listar_musicos' %}">Cadastrar Usuário</a></button>
            </div>
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Sair</button>  
            </form>
        {% else %}
            <div class="dropdown">
                <button><a href="{% url 'login' %}">Logar</a></button>
            </div>
        {% endif %}
    </header>
    <section class="main-content">

        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}

        {% block content %}

        {% endblock %}
    </section>
    <footer class="footer">
        <p>&copy; 2025 Orquestra. Todos os direitos reservados.</p>
        <p>Contato: contato@orquestra.br | Telefone: (00) 1234-5678 | @orquestra</p>
    </footer>
</body>
</html>
