{% extends 'base.html' %}

{% block title %}Diretoria da Orquestra {% endblock %}

{% block content %}

    <h2>Diretoria da Orquestra {{ nome }}</h2>

    <table class="tabela">
        <tr>
            <td>Cargo</td>
            <td>Nome</td>
            <td>Contato</td>
        </tr>
        
        {% for componente in componentes %}
        <tr>
            <td>{{ componente.cargo }}</td>
            <td>{{ componente.nome }}</td>
            <td>{{ componente.contato }}</td>
        </tr>       
        {% endfor %}

    </table>

{% endblock %}