{% extends 'base_cad.html' %}

{% block title %}Músicos Cadastrados{% endblock %}

{% block content %}
    
    <h1>Lista de Músicos</h1>

    <a href="{% url 'adicionar_musico' %}" class="link-como-botao">Adicionar Músico</a>

    <table class="tabela">
        <tr>
            <th>Nome</th>
            <th>Naipe</th>
            <th>Instrumento</th>
            <th>Alterar</th>
            <th>Excluir</th>
        </tr>

        {% for musico in musicos %}
            <tr>
                <td>{{ musico.nome }}</td>
                <td>{{ musico.naipe.nome }}</td>
                <td>{{ musico.instrumento.nome }}</td>
                <td>
                    <a href="{% url 'alterar_musico' musico.codigo %}" class="link-como-botao">Alterar</a>
                </td>
                <td>
                    <a href="{% url 'excluir_musico' musico.codigo %}" class="link-como-botao">Excluir</a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}

